<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventX</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>
<body class="bg-gray-900 text-white">

    <partial name="_Header" />

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    @RenderSection("Scripts", required: false)

</body>
</html>
